.wrapper > div {
  position: relative;
}

.password-eye {
  position: absolute;

  width: 25px;
  height: 25px;
  right: 8px;
  bottom: 11px;

  cursor: pointer;
  
  background-color: var(--accent-color);
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
}

/* .password-eye:hover {
  opacity: 50%;
} */
