[submodule "components/http_server"]
	path = components/http_server
	url = https://github.com/atiautomacao/http_server.git
[submodule "components/esp_ethernet"]
	path = components/esp_ethernet
	url = https://github.com/atiautomacao/esp_ethernet
[submodule "components/esp_settings"]
	path = components/esp_settings
	url = https://github.com/atiautomacao/esp_settings.git
