h3,
h2 {
  font-family: "Poppins";
}

span {
  font-size: 13px;
}

.wrapper {
  width: clamp(300px, 100%, 500px);

  padding: 10px 20px 20px 20px;
  margin-inline: auto;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 10px;

  border-style: none;
  border-radius: 8px;
  background-color: white;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  color: var(--accent-color);
  background-color: var(--background-color);
}

.title-div {
  width: 100%;
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;

  /* background-color: red; */
}

.title-div > div {
  width: 32px;
  height: 32px;
  margin: 10px 10px 10px 0px;

  background-color: var(--accent-color);

  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  mask-size: cover;
  -webkit-mask-size: cover;
}
